<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forsrc.boot.authorization.web.test.dao.mapper.database1.TestDatabase1Mapper">

    <resultMap id="resultMap" type="com.forsrc.boot.authorization.web.test.model.TestDatabase1">
        <id property="id" column="id" />
        <result property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>  

    <select id="findById" resultType="com.forsrc.boot.authorization.web.test.model.TestDatabase1" resultMap="resultMap">
        select * from t_test_database1 where user_id = #{id}
    </select>

    <insert id="insert" parameterType="com.forsrc.boot.authorization.web.test.model.TestDatabase1" resultMap="resultMap">
        insert into t_test_database1(name) values (#{bean.name});
    </insert>

</mapper>